body {
  font-family: sans-serif;
}

.theBody {
  height: 60vh;
}

.TopNav {
  background-color: black;
  color: white;
  margin-bottom: 0;
}

.userHome {
  background-color: red;
}

.storiesHome {
  background-color: pink;
}

.Footer {
  background-color: black;
  color: white;
  height: 50px;
}
