body {
  font-family: sans-serif;
}

.TopNav {
  background-color: teal;
  color: white;
}

.homePage {
  background-color: white;
  height: 85vh;
}

.signInForm {
  margin-top: 15vh;
}

.homeTitle {
  margin: 0;
}

.userHome {
  background-color: white;
  height: 85vh;
}

.usersTitle {
  margin: 0;
}

.storiesHome {
  background-color: white;
  height: 85vh;
}

.storiesTitle {
  margin: 0;
}

.storyListItem {
  margin: 0;
}

.Footer {
  background-color: teal;
  color: white;
  height: 50px;
}
